PORT=5000
MONGO_URI=mongodb+srv://aipowereddevteam_db_user:5M4kmPAO8I2l53xs@cluster0.nfnv0bv.mongodb.net/mingrid
JWT_SECRET=47808e7038b0bbcec35e5b739c712f6f2eda41370735254c22c322b95f333773
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
NEXT_PUBLIC_GOOGLE_CLIENT_ID=845607062458-1b2jorf4v8uojvfuu5rb7srhdiaa24bg.apps.googleusercontent.com